#home {
    position: relative;
    background: url("../../assets/bgIMG.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: 2;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;

    padding: 6rem 2rem 0rem;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    margin: 0 2rem;

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    .badge-cmp,
    .tag-cmp {
        padding: 1rem 2rem;
        background: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;

        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        @media screen and (max-width : 900px) {
            padding: .5rem 1rem;
            backdrop-filter: blur(4px);
            background-color: rgba(255, 255, 255, 0.3);

            &:hover {
                z-index: 9;
            }
        }


    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;

        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
        }
    }

    span {
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    .circle-cmp {

        width: 100px;
        height: 100px;
        border-radius: 50%;

        background: var(--white-color);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        transition: all .5s ease;

        z-index: 1;

        img {
            width: 60%;
            height: 60%;
            -webkit-filter: saturate(0);
            filter: saturate(0);
            z-index: 1;
        }

        &:hover {
            transform: scale(.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            background-color: var(--primary-color);


            img {
                -webkit-filter: saturate(100%);
                filter: saturate(100%);
            }
        }
    }

    .circle-cmp-number0 {
        width: 120px !important;
        height: 120px !important;
        z-index: 1;
    }

    .circle-cmp-number1 {
        margin: 1rem;
        height: 130px !important;
        width: 130px !important;
        z-index: 1;
    }

    .circle-cmp-number2 {
        width: 140px !important;
        height: 140px !important;
        z-index: 1;
    }

    .circle-cmp-number3 {
        margin: 1rem;
        width: 130px !important;
        height: 130px !important;
        z-index: 1;
    }



    @media screen and (max-width: 900px) {
        .circle-cmp-number0 {
            width: 100px !important;
            height: 100px !important;
            margin: 0 !important;
        }

        .circle-cmp-number1 {
            width: 100px !important;
            height: 100px !important;
            margin: 0 !important;
        }

        .circle-cmp-number2 {
            width: 100px !important;
            height: 100px !important;
            margin: 0 !important;
        }

        .circle-cmp-number3 {
            width: 100px !important;
            height: 100px !important;
            margin: 0rem !important;
        }

        & {
            margin: 1rem;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;

        .circle-cmp {
            margin: 1rem;
        }
    }
}

.app__header-img {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        z-index: 3;

        @media screen and (max-width : 900px) {
            margin-right: 0;
            top: -22rem;
        }
    }

    .overlay_circle {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 90%;
    }

    @media screen and (max-width: 1200px) {
        margin: 2rem 0;
    }
}


.skills-tooltip {
    max-width: 300px !important;
    width: 300px !important;
    background-color: var(--white-color) !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
    padding: 1rem !important;
    color: var(--gray-color) !important;
    text-align: center !important;
    line-height: 1.5 !important;
    opacity: 1 !important;

    @media screen and (min-width: 2000px) {
        font-size: 1.75rem !important;
        max-width: 500px !important;
        line-height: 2 !important;
    }
}


.resume-button {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: white;
    margin: 10px;
    text-align: center;
    padding: 10px 3px;
    text-decoration: none;
    transition: all .5s ease;

    &:hover {
        transform: scale(.95);
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border-radius: 0;
    }
}